.button {
    padding: .9rem 3rem;
    margin: 1rem 0;
    border-radius: 4px;
    font-size: 1.1rem;
    box-shadow: 1px 4px 4px rgba($main-dark-grey, 0.5);
    border: 1px solid $main-light-grey;
    color: $main-white-color;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        transform: translateY(-2px);
        background-image: linear-gradient(
            to right,
            rgba($main-black-color, 0.5),
            rgba($main-black-color, 0.5)
        );
    }

    &:active,
    &:focus {
        border: none;
        box-shadow: 1px 2px 4px rgba($main-dark-grey, 0.5);
    }

    &-main {
        background-color: $main-color;
    }
}