$main-color: #312450;
$main-light-color: #5e42a6;

$main-pink-color: #b74e91;

$main-purple-one: #493382;
$main-purple-two: #5052b5;
$main-purple-three: #3e4094;

$main-black-color: #000;
$main-white-color: #fff;

$main-dark-grey: #666;
$main-light-grey: #676d79;