.nav {
    width: 100%;
    text-align: center;

    &-top {
        width: 100%;
        padding: .3rem 0;
        font-size: 2.5rem;
        box-shadow: 1px 1px 1px $main-light-grey;

        &-brand a {
            color: $main-light-grey;
            text-decoration: none;
            letter-spacing: 4px;
            text-transform: uppercase;
        }
    }

    &-bottom {
        background-color: $main-color;
        padding: 1rem;

        a {
            color: rgba($main-white-color, 0.3);
            text-decoration: none; 
            font-size: 1.2rem;
            margin: 1rem;
            letter-spacing: 1px;
            cursor: pointer;
            transition: all .2s;
        }

        a:hover {
            color: rgba($main-white-color, 0.8);

        }

        a:active,
        a:focus {
            color: $main-white-color;
        }
    }

    &-search {
        width: 100%;
        height: auto;
        position: relative;
        box-shadow: 1px .5px 1px rgba($main-light-grey, 0.5);

        input {
            width: 100%;
            border: 0;
            font-size: 1.3rem;
        }

        &-dropwdown {
            position: absolute;
            width: 100%;
            z-index: 2;
            box-shadow: 1px 1px 1px rgba($main-light-grey, 0.5);

            &-item {
                border-bottom: 1px solid $main-dark-grey;
                padding: 1rem;
                transition: all 0.2s;
                cursor: pointer;
                display: flex;
                align-items: center;
    
                img {
                    margin-right: 10px;
                }
            }    
        }        
    }
}